.todoHeading{
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 25px;
  color: rgb(230, 7, 7);
}



@media (max-width: 768px) {
  .todoHeading {
    font-size: 15px;
    padding-top: 29px;
  }
}

@media (max-width: 480px) {
  .todoHeading {
    font-size: 6vw;
    margin-bottom: 15px;
  }
}